<div<%= render 'users/info' %>

<h2></h2>
    <table>
      <thead>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td></td>
          <td><%= link_to book.title, user_book_path(book.id), class: 'show' %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>