 <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">  
    <main>
      <h1>welcome to 📕<strong>Bookers !!</strong></h1>
      <p>In <strong></strong>Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    </main>
   </div>   
  </div>
